<h1>Listing pages</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Body</th>
        <th>Updated on</th>
        <th>Position</th>
        <th>Actions</th>
    </tr>

   <%= render(:partial => "index_item", :collection => @pages)%>
</table>

<br/>

<%= link_to 'New page', new_page_path %>

<%= link_to 'Admin', :controller => 'admin' %>

<%= link_to 'Logout', :controller => 'admin', :action => 'logout' %>


